@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Poppins:wght@400;500;600;700;800;900&family=Work+Sans:wght@400;600;700;800;900&display=swap');
*{
    font-family: 'Work Sans', sans-serif;

}

body{
    margin:0;
    padding: 0;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    background: #FFFFFF;
    justify-content: space-between;
    height: 130px;
    flex-shrink: 0;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
}
.nav-main{
    display: flex;
    flex-shrink: 0;
    margin-top: 96px;
    margin-left: 240px;
    
}
.nav-logo {
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
    
}
.nav-title{
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    bottom:55px;
}
.nav-title span{
    color:#FF42A5;
}
nav>ul{
    display: flex;
    margin-top: 96px;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-right: 240px;
    bottom:38px;
}
nav li a{
    
    margin-right: 34px;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
     
}
.follow-us{
    display: flex;
    width: 262px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    justify-content: space-around;
}
.follow-us img{
    width: 33.916px;
    height: 24px;
    flex-shrink: 0;
    margin:16px;
}






.banner{
    display: flex;
}
.banner-container{
    padding:148px 309px 148px 240px;
}
.banner-left-content{
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    width: 901px;
    height: 700px;
    flex-shrink: 0;
    justify-items: center;
    
}
.banner-title{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    bottom:0;
}
.banner-2nd-title{
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    top: -50px;
    
}

.banner-description{
    color: #534C64;
    text-align: left;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    position: relative;
    bottom:100px;
}
.banner-description span{
    bottom:6px;
    left:3px;
    position: relative;
}
.nav-btn{
    position: relative;
    bottom:80px;
}
.btn-primary,.btn-primary1{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border:none;
    position: relative;

}
.btn-primary{
    background:  #FF42A5;
    color: #FFF;
}
.btn-primary1{
    
    background: #4EC5F7;
    color: #FFF;
}
.banner-right-content{
    margin-top:20px;
    margin-right: 200px;
    margin-left: 200px;
    object-fit: fill;
}

.gamer-section{
    height: 600px;
    flex-shrink: 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    
}

.gamer-left-content{
    justify-content: flex-end;
    margin-left: 150px;
    
}
.gamer-img{
    width: 868px;
    height: 489px;
    flex-shrink: 0;
    margin-left: 240px;
}
.title{
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.description{
    width: 520px;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.gamer-section button{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background:  #FF42A5;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border:none;
    position: relative;
    left:320px;   
}
.gamer-description{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px; /* 187.5% */
}



.funny-video-section{
    margin-left: 240px;
    margin-right: 240px;
    justify-content: center;
    align-items: center;
}
.funny-title{
    color: #0B0223;
    text-align:center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.funny-description{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.funny-container{
    display: flex;
    margin-left: 100px;

}
.funny-content {
    position: relative;
    display: inline-block;
  }
  
.funny-content a{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    text-decoration: none;
    width: 342px;
    display: block;
    position: relative;
    left:30px;
}

.overlay {
    position: relative;
    display: inline-block;
    margin-left: 24px;
}
  
.funny-img {
    width: 342px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 16px;
}
.watch-now{
    margin-top:40px; 
    color:#FF42A5;
}
.play-icon,.watch-now {
    position: absolute;
    top: 50%;
    left: 50%;
    gap:10px;
    transform: translate(-50%, -50%);
    display: none;
}

.funny-img:hover{

    cursor: pointer;
    border-radius: 20px;
   

}

.overlay:hover .play-icon{
    background-color: #000000b4;
    
    padding-left:148px;
    padding: 170px 146px;
    border-radius: 20px;
    border:#FF42A5 solid 5px;
    

}
.overlay:hover .play-icon,
.overlay:hover .watch-now {
  display: block;
  cursor: pointer;
  color:#FF42A5;
  text-align: center;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  z-index: 1;
 
}
.watch-now {
    
    color: pink;
    font-size: 20px;
}





.play-section{
    display: flex;
    margin-top: 120px;
}
.play-container{
    margin-left: 439px;
    margin-top: 200px;
    width: 353px;
    margin-right: 120px;
}
.play-title{
    text-align: right;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}
.play-container p{
    
    width: 353px;
}

.play-img{
    max-width: 634.833px;
    height: 650px;
    flex-shrink: 0;
    margin-right: 240px;
    margin-left: 265px;
}
.play-img2{
    width: 318.5px;
    height: 365.083px;
    flex-shrink: 0;
    position: relative;
    bottom:300px;
    left: 100px;
}

.last-section{
    display: flex;
    margin-left: 238px;
    margin-top: -120px;
    margin-bottom: 240px;
}
.last-img{
    width: 710px;
    height: 650px;
    flex-shrink: 0;
}
.last-img2{
    width: 318px;
    height: 365px;
    flex-shrink: 0;
    position: relative;
    top:-260px;
    right: -482px;
}

.last-container{
    justify-content: left;
    width:483px;
    margin-top: 200px;
    margin-right: 240px;
    margin-left: 100px;
}
.last-title{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}


.pink-section{
    height: 821px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    display: flex;
}
.pink-container{
    margin-top: 100px;
    margin-bottom: 120px;
    position: relative;
    left: 260px;
 
}
.pink-title{
    color: #FFF;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
}
.pink-description{
    color: #FFF;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    width: 680px;
}
.pnik-content{
    display: flex;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 200% */
}
.descrip2{
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 200% */
    margin-left: 97px;
}
.pink-btn{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    color:#FF42A5;
    border: none;
}
.pink-img{
    width: 1013px;
    height: 821px;
    object-fit: contain;
    margin-right: 0;
    margin-left: 420px;
}


.game-type{
    
    height: 427px;
    flex-shrink: 0;
    background: linear-gradient(90deg, rgba(255, 66, 164, 0.123) 0%, rgba(255, 66, 165, 0.03) 100%);
    flex-wrap: wrap;
    justify-content: space-between;
  
}

.g1 {
    display: flex;
    padding-left: 240px;
    padding-top: 120px;
    padding-right: 302px;
}
.g2{

    display: flex;
    padding-left: 340px;
    padding-top: 20px;
    padding-right: 302px;
}
.game-img{

    width: 273px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF; 
    color: #0B0223;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: center;
    position: relative;
    margin-right: 40px;
    background-color: #FFFFFF; 
    border: 2px solid transparent;
    cursor: pointer;
    
}
.game-img1{

    width: 293px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF; 
    color: #0B0223;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: center;
    position: relative;
    margin-right: 40px;
    background-color: #FFFFFF; 
    border: 2px solid transparent;
    cursor: pointer;
}
.game-img img, .game-img1 img{
    position: relative;
    top:10px;
    left:10px;
}
.game-img span, .game-img1 span{
    position: relative;
    bottom:20px;
    margin-left: 10px;

}
.game-img1:hover, .game-img:hover{
    border-color: #FF42A5;
} 
footer{
    background: #0B0223;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
.footer-title{
    color:#FFF;
    padding-top: 120px;
    display: flex;
    align-items: center;
    position: relative;
    
}
.footer-title .nav-title{
    position: relative;
    top:0px;
}
.footer-content{
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}
.footer-content>ul{
    display: flex;
    list-style: none;
    gap:60px;
}
.footer-logo-img{
    cursor: pointer;
    margin-left:40px;
    
}
.footer-description{
    color: rgba(255, 255, 255, 0.60);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-bottom: 120px;
    
}
.footer-description>ul{
    list-style: none;
    display: flex;
    gap:60px;
}


@media screen and (max-width:576px){
    body{
        margin-left: 100px;
        margin-right: 100px;
    }
    nav{
        flex-direction: column;
        background:#ffffff00;
        text-align: center;
        align-items: center;
        justify-content: center;
        box-shadow: none;
        
    }
    .banner, .gamer-section,.last-section{
        flex-direction:column-reverse;
       
    }
    .play-section  {
        flex-direction:column;
    }
    .pink-section{
        flex-direction: column;
        height: 100%;
    }
    
    .funny-container{
        display: grid;
        grid-template-columns: 1fr;  
        justify-content: center;
     
    }
    .footer-container{
        padding-left: 100px;
        width:300px;
        align-items: center;
        justify-content: center;
        margin-right: 40px;
    }
    .footer-content>ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer-description>ul{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap:50px;
        margin-top: 50px;
    }
    .footer-description p{
        margin-top: 10px;
    }
    
    
}